.tabbar {
  display: flex;
  justify-content: space-between;
  height: 42px;
  padding: 6px 12px;
  background-color: #f5f7f9;
  transition: all 0.2s ease;
  z-index: 50;
}

.tabbar :global(.el-tabs) {
  width: calc(100% - 40px);
}

.tabbar :global(.el-tabs__active-bar) {
  display: none;
}

.tabbar :global(.el-tabs__nav-wrap::after) {
  display: none;
}

.tabbar :global(.el-tabs__header) {
  margin: 0;
}

.tabbar :global(.el-tabs__item) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  margin: 0 6px 0 0;
  padding: 5px 16px !important;
  background-color: #fff;
  border-radius: 3px;
  border: none;
  user-select: none;
}

.tabbar :global(.el-tabs__nav-prev),
.tabbar :global(.el-tabs__nav-next) {
  line-height: 40px;
}

.tabsMenu {
  flex-grow: 0;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #fff;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}

.tabsDropdownMenu :global(svg) {
  margin-right: 5px;
}
