.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .left {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .right {
    display: flex;
    align-items: center;
    height: 100%;

    :global(.el-space__item) {
      min-width: 24px;
      cursor: pointer;
      text-align: center;
      line-height: 48px;
    }

    :global(.el-space__item:hover) {
      background-color: rgb(0 0 0 / 2.5%);
    }
  }
}
