:root {
  --progress-color: #1890ff;
  --header-height: 48px;
  --menu-width: 256px;
  --menu-collapse-width: 80px;
  --menu-text: #bfcbd9;
  --menu-active-text: #409eff;
  --menu-bg: #304156;
  --menu-hover: #263445;
  --sub-menu-bg: #1f2d3d;
  --sub-menu-hover: #001528;
  --sub-menu-active-text: #f4f4f5;
  --side-logo-height: 44px;

  /* 覆盖 ElementPlus 变量 */
}
