.menu {
  border-right: none;
  min-height: calc(100vh - var(--side-logo-height));

  :global(.iconify) {
    margin-right: 12px;
    font-size: 18px;
  }

  &:global(.el-menu--collapse) {
    width: var(--menu-collapse-width);
  }

  &:global(.el-menu--collapse .iconify) {
    margin: 0;
  }

  &:global(.el-menu--collapse .el-sub-menu__title) {
    justify-content: center;
    padding: 0;
  }

  & > :global(.el-menu-item:hover),
  & :global(.el-sub-menu__title:hover) {
    background-color: var(--menu-hover) !important;
  }

  & :global(.is-active > .el-sub-menu__title) {
    color: var(--sub-menu-active-text) !important;
  }

  & :global(.el-sub-menu .el-menu .el-sub-menu__title),
  & :global(.el-sub-menu .el-menu-item) {
    background-color: var(--sub-menu-bg) !important;
  }

  & :global(.nest-menu .el-sub-menu > .el-sub-menu__title:hover),
  & :global(.el-sub-menu .el-menu-item:hover) {
    background-color: var(--sub-menu-hover) !important;
  }

  &:global(.el-menu--collapse .el-menu-item > .el-menu-tooltip__trigger) {
    justify-content: center;
  }

  @at-root {
    :global(.el-menu--popup .el-sub-menu > .el-sub-menu__title:hover) {
      background-color: var(--sub-menu-hover) !important;
    }
  }
}
