.menu {
  border-right: none;
  min-height: calc(100vh - var(--side-logo-height));
}

.menu :global(.iconify) {
  margin-right: 12px;
}

.menu:global(.el-menu--collapse) {
  width: var(--menu-collapse-width);
}

.menu:global(.el-menu--collapse .iconify) {
  margin: 0;
}

.menu:global(.el-menu--collapse .el-sub-menu__title) {
  display: flex;
  justify-content: center;
  padding: 0;
}

.menu :global(.el-sub-menu__title:hover) {
  background-color: var(--menu-hover) !important;
}

.menu :global(.is-active > .el-sub-menu__title) {
  color: var(--sub-menu-active-text) !important;
}

.menu :global(.el-sub-menu .el-menu .el-sub-menu__title),
.menu :global(.el-sub-menu .el-menu-item) {
  background-color: var(--sub-menu-bg) !important;
}

.menu :global(.nest-menu .el-sub-menu > .el-sub-menu__title:hover),
.menu :global(.el-sub-menu .el-menu-item:hover) {
  background-color: var(--sub-menu-hover) !important;
}
