.view {
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.text {
  font-size: 24px;
}

.icon {
  width: 40px;
  height: 40px;
}
