@headerName: layout-header;
@siderName: layout-sider;
@mainName: layout-main;

.layout {
  width: 100%;
  height: 100%;

  .layout-sider {
    position: fixed;
    overflow: auto;
    height: 100vh;
    left: 0;
    z-index: 100;
  }

  .layout-main {
    background-color: #fff;
    transition: all 0.2s;
  }

  .layout-header {
    padding: 0 12px;
    background-color: #fff;
    z-index: 100;
  }

  .layout-content {
    padding: 12px 12px 0;
  }
}
